/*--------- navbar styling ----------------*/

.fas {
  font-size: 20px;
}

/*--------- Main Page Styling --------------*/
#title {
  background-color: #eeeeee;
}

.container-margin {
  margin: 0 5%;
}

.navbar-brand {
  font-weight: bold;
}

.main-title {
  font-size: 50px;
}

.main-description {
  font-size: 20px;
}

.main-image {
  max-width: 500px;
  height: auto;
}

/* About Section  */

#about-section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.vl {
  border-left: 6px solid #00adb5;
  height: 200px;
  position: absolute;
  right: 50%;
  right: 150px;
}
